---
import background from '@/assets/background.svg'
import Box from '@/components/Box.astro'
import { DEFAULT_LOCALE } from '@/config'
import BaseLayout from '@/layouts/BaseLayout.astro'

export interface Props {
  heading?: string
  meta?: {
    canonicalUrl?: string
  }
}

const { heading, meta } = Astro.props
const locale = Astro.currentLocale ?? DEFAULT_LOCALE
---

<BaseLayout meta={meta}>
  <img transition:persist id="background" src={background.src} fetchpriority="high" aria-hidden="true" />
  <div id="container">
    <header id="header">
      <h1>AstroCorp</h1>
    </header>
    <main>
      <Box heading={`${heading} [${locale}]`}>
        <slot />
      </Box>
    </main>
    <footer id="footer">
      <div>Footer</div>
    </footer>
  </div>
</BaseLayout>
<script>
  import { initI18nextClient } from "@/lib/client/i18next"
  initI18nextClient()
</script>
